body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.portfolio-item img {
  max-height: 250px;       
  width: 100%;             
  height: 250px;           
  object-fit: cover;      
  border-radius: 12px;     
  display: block;         
  border: 1px solid #ddd;  
}

.pubdate {
  font-size: 0.9em;
  color: #666;
  font-style: italic;
}
